<div>
    <h4 class="deleted-chat-message">{{post}}</h4>
    <button type="button" class="delete-chat btn btn-danger" data-id="{{this.id}}">
        <i class="far fa-trash-alt"></i>
    </button>
</div>