<ul>
    {{#each npcs}}
        <li>{{fullname}}</li>
    {{/each}}
</ul>
<ul>
    {{#each Posts}}
        <li>{{content}}</li>
    {{/each}}
</ul>
<ul>
    {{#each Locales}}
        <li>{{title}}</li>
    {{/each}}
</ul>
<ul>
    {{#each user}}
        <li>{{id}}</li>
    {{/each}}
</ul>