<div class="container text-center">
    <h1>Dungeon Master's Workshop</h1>
    <div class="row">
        <div class="col-6">
            <h2>Create Content</h2>
            <hr>
           
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    New NPC
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <form>
                        <div class="form-group">
                            <label for="npcMaker">Fill out your Npc</label>
                            <select class="form-control" id="npcMaker">
                                <option>full name</option>
                                <option>race</option>
                                <option>descript</option>
                                <option>personality</option>
                                <option>profession</option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-6">
            <p>File Cabinent</p>
        </div>
    </div>
</div>