<div class="container text-center">
    <h1>Dungeon Master's Workshop</h1>
    <div class="row">
        <div class="col-6">
            <h2>Create Content</h2>
            <hr>
           
            <!-- Example split danger button -->
            <div id="npcGroup">
                <button class="btn btn-primary" id="npcNewBtn">
                    New NPC
                </button>
                <div class="row mt-3" id="npcBtns">
                    <div class="dropdown" id="nameHover">
                        <a class="btn btn-info dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Name
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="#">Random</a>
                            <a class="dropdown-item" href="#"><input type="text" name="name" placeholder="Custom Name"></a>
                        </div>
                    </div>
                    <div class="dropdown mx-1" id="raceHover">
                        <a class="btn btn-info dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Race
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="#">Random</a>
                            <a class="dropdown-item" href="#"><input type="text" name="race" placeholder="Custom Race"></a>
                        </div>
                    </div>
                    <div class="dropdown mx-1" id="descriptHover">
                        <a class="btn btn-info dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Description
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="#">Random</a>
                            <a class="dropdown-item" href="#"><input type="text" name="describe" placeholder="Custom Description"></a>
                        </div>
                    </div>
                    <div class="dropdown mx-1" id="personHover">
                        <a class="btn btn-info dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Personality
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="#">Random</a>
                            <a class="dropdown-item" href="#"><input type="text" name="person" placeholder="Custom Personality"></a>
                        </div>
                    </div>
                    <div class="dropdown" id="professHover">
                        <a class="btn btn-info dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Profession
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="#">Random</a>
                            <a class="dropdown-item" href="#"><input type="text" name="profession" placeholder="Custom Profession"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-6">
            <p>File Cabinent</p>
        </div>
    </div>
</div>
