<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
      </div>
      <div class="overlay"></div>
      <div class="login-box">
        <i class="fab fa-d-and-d fa-5x"></i>
        <form class="loginForm" action="#">
          <p>E-mail:</p>
          <input type="email" name="email" id="emailLog" placeholder="Your E-mail"><br>
          <p>Password</p>
          <input type="password" id="passLog" placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;"><br>
          <input type="submit" id="log-in" name="submit" value="Login">
        </form>
        <form class="signupForm" action="#">
          <p>Username:</p>
          <input type="user" name="name" id="suUser" placeholder="New Username"><br>
          <p>E-mail:</p>
          <input type="email" name="email" id="suEmail" placeholder="New E-mail"><br>
          <p>Password</p>
          <input type="password" id="suPass" placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;"><br>
          <p>Confirm Password</p>
          <input type="password" id="suPass2" placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;"><br>
          <div class="form-group">
            <label for="acctType">Account Type</label>
            <select class="form-control" id="acctType">
              <option>Dungeon Master</option>
              <option>Player</option>
            </select>
          </div>
          <input type="submit" id="sign-up" name="submit" value="Signup">
          
        </form>
        <div class="links">
          <a href="#">Forgot Password</a>
          <br>
          <a id="newSignUp" href="#">New User? Sign Up here!</a>
        </div>
      </div>
    </div>



