<div class="container">
  <div class="row">
    <div class="col-4">
      <button id="charMaker" class="btn btn-primary"><strong>New Character</strong></button>
      <div id="newCharForm">
        <form>
          <div class="form-group">
            <label for="charName">Character Name</label>
            <input class="form-control" id="charName" placeholder="Charles Bettleman">
          </div>
          <div class="form-group">
            <label for="classSelect">Class</label>
            <select class="form-control" id="classSelect">
              <option>Barbarian</option>
              <option>Bard</option>
              <option>Cleric</option>
              <option>Druid</option>
              <option>Fighter</option>
              <option>Monk</option>
              <option>Paladin</option>
              <option>Ranger</option>
              <option>Rogue</option>
              <option>Sorcerer</option>
              <option>Warlock</option>
              <option>Wizard</option>
            </select>
          </div>
          <div class="form-group">
            <label for="startLvl">Starting Level</label>
            <input class="form-control" id="startLvl" placeholder="1-20">
          </div>
          <div class="form-group">
            <label for="startExp">Starting Experience</label>
            <input class="form-control" id="startExp" placeholder="">
          </div>
          <div class="form-group">
            <label for="raceSelect">Race</label>
            <select class="form-control" id="raceSelect">
              <option>Dragonborn</option>
              <option>Dwarf</option>
              <option>Elf</option>
              <option>Gnome</option>
              <option>Half-elf</option>
              <option>Half-orc</option>
              <option>Halfling</option>
              <option>Human</option>
              <option>Tiefling</option>
            </select>
          </div>
          <div class="form-group">
            <label for="alignment">Alignment</label>
            <select class="form-control" id="alignment">
              <option>LG</option>
              <option>NG</option>
              <option>CG</option>
              <option>LN</option>
              <option>NN</option>
              <option>CN</option>
              <option>LE</option>
              <option>NE</option>
              <option>CE</option>
            </select>
          </div>
          <div class="form-group">
            <label for="acIn">Armor Class</label>
            <input class="form-control" id="acIn" placeholder="Armor + Dex/Con">
          </div>
          <div class="col">
            <label for="int">Intelligence</label><input class="form-control" id="int">
            <label for="wis">Wisdom</label><input class="form-control" id="wis">
            <label for="cha">Charisma</label><input class="form-control" id="cha">
          </div>
        </div>
        <button id="createCharBtn" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <div class="col-4">
      <form>
        <h1>Search the text book!</h1>
        <div class="form-row"> 
          <div class="form-group col-md-6">
            <label for="searchIn1">Search Type</label>
            <select class="form-control" id="searchIn1">
              <option>skills</option>
              <option>ability-scores</option>
              <option>proficiencies</option>
              <option>languages</option>
              <option>classes</option>
              <option>subclasses</option>
              <option>features</option>
              <option>class levels</option>
              <option>races</option>
              <option>subraces</option>
              <option>equipment</option>
              <option>conditions</option>
              <option>damage-types</option>
              <option>magic-schools</option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label for="searchIn2">Name</label>
            <input class="form-control" id="searchIn2">
          </div>
        </div>
        <button class="btn btn-primary" id="submitSearchQuery">Send</button>
      </form>
    </div>
    <div class="col-4">
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Want to join the conversation?</h1>
          <p class="lead">submit your comment below. </p>
        </div>
      <div class="card text-white" style="background-color:rgba(0, 0, 0, 0.4)">
        <div class="card-header">
          Chat Message Center
        </div>
        <div class="card-body" id="order">
          <h5 class="card-title"></h5>
          <p class="card-text">Please be respectful of your fellow players.</p>
          <form class="create-form">
        <div class="form-group">
          <label for="content">comment:</label>
          <textarea class="form-control" id="postBox" rows="3"></textarea>
          <button type="send" class="btn btn-primary" style="background-color:rgba(0, 0, 0, 0.8)" id="sendPost">Send</button>
        </div>
      </form>
    </div>
  </div>
  <div class="card text-white" style="background-color:rgba(0, 0, 0, 0.4)">
    <div class="card-header">recent messages</div>
      <div class="card-body">
        <div class="postBboard">
        {{#each Post}}
        {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>
      <script src="/js/player.js"></script>
