<div class="container">
  <div class="row">
    <div class="col-4">
      <button id="charMaker" class="btn btn-primary"><strong>New Character</strong></button>
      <div id="newCharForm">
        <form>
          <div class="form-group">
            <label for="charName">Character Name</label>
            <input class="form-control" id="charName" placeholder="Charles Bettleman">
          </div>
          <div class="form-group">
            <label for="classSelect">Class</label>
            <select class="form-control" id="classSelect">
              <option>Barbarian</option>
              <option>Bard</option>
              <option>Cleric</option>
              <option>Druid</option>
              <option>Fighter</option>
              <option>Monk</option>
              <option>Paladin</option>
              <option>Ranger</option>
              <option>Rogue</option>
              <option>Sorcerer</option>
              <option>Warlock</option>
              <option>Wizard</option>
            </select>
          </div>
          <div class="form-group">
            <label for="startLvl">Starting Level</label>
            <input class="form-control" id="startLvl" placeholder="1-20">
          </div>
          <div class="form-group">
            <label for="startExp">Starting Experience</label>
            <input class="form-control" id="startExp" placeholder="">
          </div>
          <div class="form-group">
            <label for="raceSelect">Race</label>
            <select class="form-control" id="raceSelect">
              <option>Dragonborn</option>
              <option>Dwarf</option>
              <option>Elf</option>
              <option>Gnome</option>
              <option>Half-elf</option>
              <option>Half-orc</option>
              <option>Halfling</option>
              <option>Human</option>
              <option>Tiefling</option>
            </select>
          </div>
          <div class="form-group">
            <label for="alignment">Alignment</label>
            <select class="form-control" id="alignment">
              <option>LG</option>
              <option>NG</option>
              <option>CG</option>
              <option>LN</option>
              <option>NN</option>
              <option>CN</option>
              <option>LE</option>
              <option>NE</option>
              <option>CE</option>
            </select>
          </div>
          <div class="form-group">
            <label for="acIn">Armor Class</label>
            <input class="form-control" id="acIn" placeholder="Armor + Dex/Con">
          </div>
          <div class="form-row">
            <div class="col">
              <label for="str">Strength</label><input class="form-control" id="str">
              <label for="dex">Dexterity</label><input class="form-control" id="dex">
              <label for="con">Constitution</label><input class="form-control" id="con">
            </div>
            <div class="col">
              <label for="int">Intelligence</label><input class="form-control" id="int">
              <label for="wis">Wisdom</label><input class="form-control" id="wis">
              <label for="cha">Charisma</label><input class="form-control" id="cha">        
            </div>
          </div>
          <button id="createCharBtn" class="btn btn-primary mt-2">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
